
## Data Preparation

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc
pd.options.mode.chained_assignment = None

## Reading all data

In [4]:
orders = pd.read_csv("./data-clarify/orders.csv")
order_products_train = pd.read_csv('./data-clarify/order_products__train.csv')
aisles = pd.read_csv('./data-clarify/aisles.csv')
products = pd.read_csv('./data-clarify/products.csv')
departments = pd.read_csv('./data-clarify/departments.csv')
product_features = pd.read_pickle('./data-clarify/product_features.pkl')
user_features = pd.read_pickle('./data-clarify/user_features.pkl')

## merging train order data with orders

In [5]:
train_orders = orders.merge(order_products_train, on = 'order_id', how = 'inner')
train_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,train,11,4,8,14.0,196,1,1
1,1187899,1,train,11,4,8,14.0,25133,2,1
2,1187899,1,train,11,4,8,14.0,38928,3,1
3,1187899,1,train,11,4,8,14.0,26405,4,1
4,1187899,1,train,11,4,8,14.0,39657,5,1

In [6]:
train_orders.drop(['eval_set', 'add_to_cart_order', 'order_id'], axis = 1, inplace = True)

In [7]:
train_orders.shape

(1384617, 7)

In [8]:
df = train_orders.merge(product_features, on = 'product_id', how = 'left')

df.head()

,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,mean_add_to_cart_order,total_orders,total_reorders,...,aisle_reorder_percentage,aisle_unique_users,aisle,department_mean_add_to_cart_order,department_std_add_to_cart_order,department_total_orders,department_total_reorders,department_reorder_percentage,department_unique_users,department
0,1,11,4,8,14.0,196,1,3.984738,1507,1221,...,0.649610,12689,soft drinks,7.138260,6.908445,114046,75060,0.658155,61482,beverages
1,1,11,4,8,14.0,25133,1,6.580645,186,139,...,0.597065,31199,packaged cheese,7.877351,6.954618,217051,146502,0.674966,87400,dairy eggs
2,1,11,4,8,14.0,38928,1,3.707022,413,329,...,0.686803,33249,yogurt,7.877351,6.954618,217051,146502,0.674966,87400,dairy eggs
3,1,11,4,8,14.0,26405,1,2.761905,105,62,...,0.548448,10203,paper goods,8.700828,7.864125,35986,15372,0.427166,21647,household
4,1,11,4,8,14.0,39657,1,3.884170,259,208,...,0.564917,8622,candy chocolate,9.562097,7.922739,118862,69102,0.581363,57302,snacks

In [9]:
df_dummy = df.merge(user_features, on = 'user_id', how = 'left')

In [10]:
df_dummy.head()

,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered,mean_add_to_cart_order,total_orders,total_reorders,...,department_reorder_percentage,department_unique_users,department,total_orders_by_user,total_products_by_user,total_unique_product_by_user,total_reorders_by_user,reorder_propotion_by_user,average_order_size,reorder_in_order
0,1,11,4,8,14.0,196,1,3.984738,1507,1221,...,0.658155,61482,beverages,1,11,11,10,0.909091,11,0.909091
1,1,11,4,8,14.0,25133,1,6.580645,186,139,...,0.674966,87400,dairy eggs,1,11,11,10,0.909091,11,0.909091
2,1,11,4,8,14.0,38928,1,3.707022,413,329,...,0.674966,87400,dairy eggs,1,11,11,10,0.909091,11,0.909091
3,1,11,4,8,14.0,26405,1,2.761905,105,62,...,0.427166,21647,household,1,11,11,10,0.909091,11,0.909091
4,1,11,4,8,14.0,39657,1,3.884170,259,208,...,0.581363,57302,snacks,1,11,11,10,0.909091,11,0.909091

In [11]:
df_dummy.dtypes

user_id                                int64
order_number                           int64
order_dow                              int64
order_hour_of_day                      int64
days_since_prior_order               float64
product_id                             int64
reordered                              int64
mean_add_to_cart_order               float64
total_orders                           int64
total_reorders                         int64
reorder_percentage                   float64
unique_users                           int64
order_first_time_total_cnt             int64
aisle_mean_add_to_cart_order         float64
aisle_std_add_to_cart_order          float64
aisle_total_orders                     int64
aisle_total_reorders                   int64
aisle_reorder_percentage             float64
aisle_unique_users                     int64
aisle                                 object
department_mean_add_to_cart_order    float64
department_std_add_to_cart_order     float64
department_total_orders                int64
department_total_reorders              int64
department_reorder_percentage        float64
department_unique_users                int64
department                            object
total_orders_by_user                   int64
total_products_by_user                 int64
total_unique_product_by_user           int64
total_reorders_by_user                 int64
reorder_propotion_by_user            float64
average_order_size                     int64
reorder_in_order                     float64
dtype: object

In [13]:
df['reordered'].value_counts()

1    828824
0    555793
Name: reordered, dtype: int64

## Create dummy variables
Convert Day and Hour categorical variables to dummy variables.

In [15]:
final_data = pd.get_dummies(data=df_dummy, prefix=['Day','Hour'], columns=['order_dow','order_hour_of_day'], drop_first=True)
final_data.head()

,user_id,order_number,days_since_prior_order,product_id,reordered,mean_add_to_cart_order,total_orders,total_reorders,reorder_percentage,unique_users,...,Hour_14,Hour_15,Hour_16,Hour_17,Hour_18,Hour_19,Hour_20,Hour_21,Hour_22,Hour_23
0,1,11,14.0,196,1,3.984738,1507,1221,0.810219,1507,...,0,0,0,0,0,0,0,0,0,0
1,1,11,14.0,25133,1,6.580645,186,139,0.747312,186,...,0,0,0,0,0,0,0,0,0,0
2,1,11,14.0,38928,1,3.707022,413,329,0.796610,413,...,0,0,0,0,0,0,0,0,0,0
3,1,11,14.0,26405,1,2.761905,105,62,0.590476,105,...,0,0,0,0,0,0,0,0,0,0
4,1,11,14.0,39657,1,3.884170,259,208,0.803089,259,...,0,0,0,0,0,0,0,0,0,0

In [26]:
final_data.isna().sum().tail(35)

total_products_by_user          0
total_unique_product_by_user    0
total_reorders_by_user          0
reorder_propotion_by_user       0
average_order_size              0
reorder_in_order                0
Day_1                           0
Day_2                           0
Day_3                           0
Day_4                           0
Day_5                           0
Day_6                           0
Hour_1                          0
Hour_2                          0
Hour_3                          0
Hour_4                          0
Hour_5                          0
Hour_6                          0
Hour_7                          0
Hour_8                          0
Hour_9                          0
Hour_10                         0
Hour_11                         0
Hour_12                         0
Hour_13                         0
Hour_14                         0
Hour_15                         0
Hour_16                         0
Hour_17                         0
Hour_18                         0
Hour_19                         0
Hour_20                         0
Hour_21                         0
Hour_22                         0
Hour_23                         0
dtype: int64

### Duplicate rows
 The dataset doesn't have any duplicates.

In [16]:
    
counter = 0
r,c = final_data.shape

df1 = final_data.drop_duplicates()
df1.reset_index(drop=True,inplace=True)

if df1.shape==(r,c):
    print('\n\033[1mInference:\033[0m The dataset doesn\'t have any duplicates')
else:
    print(f'\n\033[1mInference:\033[0m Number of duplicates dropped ---> {r-df.shape[0]}')

Inference: The dataset doesn't have any duplicates

## Save the new dataset for future 
save the dataset with dummy variables for future tasks.

In [17]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect
import sagemaker
import boto3
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
from pyathena import connect

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [18]:
path = "./data-clarify/final_data.csv"
final_data.to_csv(path, index=False, header=True)

In [19]:
import time

timestamp = int(time.time())

dummy_data_s3_uri = sess.upload_data(bucket=bucket, key_prefix="dummy-dataset-{}".format(timestamp), path=path)
dummy_data_s3_uri

's3://sagemaker-us-east-1-222711858116/dummy-dataset-1648676372/final_data.csv'

In [20]:
!aws s3 ls $dummy_data_s3_uri

2022-03-30 21:39:33  470105099 final_data.csv

In [21]:
%store dummy_data_s3_uri

Stored 'dummy_data_s3_uri' (str)